/** 
 * @Author: YISHI 
 * @Date: 2018-07-14 13:55:14 
 * @Desc: 订单管理 
 */

@charset 'utf-8';
@import './var';
.lz-order-manager {
    .lz-om-card {
        .layui-card-header {
            padding: 20px;
            height: auto;
            line-height: inherit;
        }
    }
}

@media (max-width: 750px) {
    .lz-search {
        margin-top: 20px;
    }
    .lz-search-input {
        margin-left: 0;
    }
}